html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
.flex {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.board-list {
  list-style: none;
  margin: 0;
  padding: 0;
}