.logo {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}
.dark .logo {
    color: #ffffff;
}
.light .logo {
    color: #000000;
}
.logo > span {
    display: inline-block;
    height: 18px;
    width: 5px;
    border-radius: 1px;
    background: #645fc6;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.logo>span:nth-child(2) {
    opacity: .7;
}

.logo>span:nth-child(3) {
    opacity: .5;
}

.logo>span:last-of-type {
    margin-right: .5em;
}